*, body, li, p, ul, a {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

p {
    font-family: Montserrat, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lexend, sans-serif
}

.countdown, a, button, input, label, li, select, span {
    font-family: Lexend, sans-serif !important
}

body {
    background-color: #fff
}

html {
    scroll-behavior: smooth
}

img {
    width: 100%;
}

:root {
    --main-color: #b4955c
}

header {
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #ced4da;
    background: #fff;
}

header .navbar-brand {
    width: 6%;
}

header .navbar-brand img {
    width: 100%;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    position: relative;
    max-width: 700px;
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.search-suggestions {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
    display: none;
    z-index: 99;
    overflow: hidden;
}

.search-suggestions.active {
    display: block;
}

.search-item {
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
}

.search-item:last-child {
    border-bottom: none;
}

.search-item:hover {
    background: #f9f9f9;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-btn {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.icon-btn img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.icon-btn:hover img {
    filter: brightness(0) invert(1);
}

.notification-btn .badge {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #dc3545;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.lang-dropdown {
    position: relative;
}

.lang-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 42px;
    padding: 0 14px;
    border-radius: 22px;
    background: #000;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    transition: 0.3s;
}

.lang-btn i {
    font-size: 11px;
}

.lang-btn:hover {
    background: #000;
    color: #FFF;
}

.lang-menu {
    position: absolute;
    top: 55px;
    right: 0;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 6px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s;
    z-index: 100;
}

.lang-menu li a {
    display: block;
    padding: 10px 14px;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

.lang-menu li a:hover {
    background: #f5f7fa;
}

.lang-dropdown.active .lang-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    animation: slideDown .4s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.artical-sec {
    padding: 30px 0px 75px 0px;
}

:root {
    --theme: #000;
    --light: #f8f9fa;
}

.sidebar-left, .sidebar-right {
    position: sticky;
    top: 20px;
}

.profile-card {
    background: #fff;
    border-radius: 18px;
    padding: 20px;
    border: 1px solid #DADADA;
}

.profile-img-wrap {
    height: 110px;
    border-radius: 14px;
    /* background: url(../images/a5c62ffd7cde86a0c31d36ccab25ba01c663f4bb.jpg) center/cover no-repeat; */
    position: relative;
    margin-bottom: 35px;
}

.profile-img-wrap img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
}

.stats-title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
}

.profile-stats {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-stats b {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.profile-stats span {
    font-size: 12px;
    color: #777;
}

.menu-box {
    margin-top: 10px;
    width: 220px;
    padding: 6px 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.menu-black {
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.menu-item:hover {
    background: #d6d5d5;
    color: #777;
}

.category-pills {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.category-pills::-webkit-scrollbar {
    display: none;
}

.category-pills .btn {
    flex: 0 0 auto;
    border-radius: 20px;
    font-size: 14px;
    padding: 6px 16px;
    border: 1px solid #ddd;
    background: #fff;
}

.category-pills .btn.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

.article-card {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
    margin-bottom: 30px;
    border: 1px solid #DADADA;
    padding: 12px;
}

.article-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
}

.article-content {
    padding: 10px 5px;
}

.article-content h4 {
    font-weight: 500;
    FONT-SIZE: 21px;
    margin-top: 8px;
}

.article-meta {
    font-size: 13px;
    color: #777;
}

.action-buttons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.action-btn {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.article-content a:hover {
    color: #deba70 !important;
}

.sidebar-box {
    border-radius: 18px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    margin-bottom: 20px;
    border: 1px solid #DADADA;
}

.sidebar-box a {
    text-decoration: none;
    color: #000;
}

.sidebar-item {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.sidebar-item img {
    width: 80px;
    height: 55px;
    border-radius: 12px;
    object-fit: cover;
}

.sidebar-item h6 {
    font-size: 14px;
    margin: 0;
}

.main-content {
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 10px;
}

.main-content::-webkit-scrollbar {
    width: 6px;
}

.main-content::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

.article-slider .article-card-2 {
    transition: .35s ease;
}

.article-slider img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.article-card-2 p {
    font-size: 13px;
    color: #41464b;
    margin-top: 7px;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

.sidebar-box h5 {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 15px;
    height: 35px;
}

.video-card {
    position: relative;
    height: 280px;
    border-radius: 13px;
    overflow: hidden;
    cursor: pointer;
}

.video-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.duration {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 20px;
    z-index: 2;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video-card:hover .play-btn {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
}

.video-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-info p {
    font-size: 12px;
    margin-bottom: 6px;
}

.video-actions {
    display: flex;
    gap: 5px;
}

.video-actions a {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.video-actions img {
    width: 12px;
    height: 12px;
}

.stories-row {
    display: flex;
    gap: 15px;
}

.post-rofile {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 10px;
    margin-bottom: 15px;
    align-items: center;
}

.post-p ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.post-p ul li h6 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.post-p ul li span {
    font-size: 15px;
    color: #817e7e;
    font-weight: 400;
}

.post-p ul img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.post-social ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.post-social img {
    width: 20px;
    height: 20px;
}

.share-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.share-popup {
    background: #fff;
    width: 360px;
    border-radius: 14px;
    padding: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    animation: popupScale 0.3s ease;
}

@keyframes popupScale {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.share-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.share-header h6 {
    margin: 0;
    font-weight: 600;
}

.close-share {
    cursor: pointer;
    font-size: 22px;
}

.share-icons {
    display: flex;
    padding: 5px 5px;
    align-items: center;
    justify-content: space-between;
}

.share-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.share-icons a:hover {
    transform: scale(1.1);
}

.facebook {
    background: #1877f2;
}

.twitter {
    background: #1da1f2;
}

.whatsapp {
    background: #25d366;
}

.linkedin {
    background: #0077b5;
}

.telegram {
    background: #0088cc;
}

.copy {
    background: #6c757d;
}

.like-btn {
    cursor: pointer;
    user-select: none;
}

.action-buttons i {
    font-size: 20px;
    transition: all 0.25s ease;
}

.like-btn.liked i {
    color: #ffde99;
    transform: scale(1.1);
}

.like-btn.liked i::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f004";
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #eee;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.08);
    z-index: 9999;
}

.bottom-nav .nav-item {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.bottom-nav .nav-item img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: 0.2s ease;
    background-color: #000;
    padding: 6px;
    border-radius: 50%;
}

@media (min-width: 770px) {
    .bottom-nav {
        display: none;
    }
}
